# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env
*.env

# VS Code workspace settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter, colab, IPython notebooks
.ipynb_checkpoints/

# Other
*.log
